.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  width: 200px;
  pointer-events: none;
}

.reviewlist {
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  margin: 50px;
  text-align: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}


